.answerClass{
    width: 50%;
    background-color: rgb(182, 249, 249);
}
.answerClass:hover{
    background-color:#0D6EFD;
    color: white;
    cursor: pointer;
}
.bg-warning{
    background-color: burlywood;
}
.displayingCategoriesDiv{
    width: 20rem;
}